.checkout{
    display: flex;
    background-color: white;
    height: max-content;
    justify-content: space-around;

}
.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}
.checkout__title{
   margin-bottom: 10px;
 border-bottom: 1px solid lightgray;
}
.checkout__left{
    display: flex;
    flex-direction: column;
    
}