.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #F0F2F2;
  }
  
  .register_logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .register__logoImage {
    color: #f90;
  }
  
  .register__logoTitle {
    color: #131921;
    margin-left: 5px;
  }
  
  .register__container {
    width: 300px;
    padding: 20px;
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 3px;
    background: white;
    margin-top: 20px;
  }
  
  .register__container h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .register__container h5 {
    margin: 5px 0;
  }
  
  .register__container input {
    height: 30px;
    margin-bottom: 10px;
    background: white;
    width: 98%;
  }
  
  .register__registerButton, .register__loginButton {
    width: 100%;
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  
  .register__registerButton:hover, .register__loginButton:hover {
    background: #ddb347;
  }
  
  .register__container p {
    margin-top: 15px;
    font-size: 12px;
  }
